.imessgenger {
  height: calc(100vh - 70px);
}

.chatMenu {
  flex: 3.5;
}

.chatBox {
  flex: 5.5;
}

.chatOnline {
  flex: 3.5;
}

.chateMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  background-color: aqua;
  height: 100%;
}

.chateMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}
